---
AlignEscapedNewlinesLeft: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'false'
BreakConstructorInitializersBeforeComma: 'false'
ColumnLimit: '0'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'true'
IndentWrappedFunctionNames: 'true'
Language: Cpp
NamespaceIndentation: All
PenaltyBreakComment: '1'
PointerAlignment: Left
SpaceBeforeAssignmentOperators: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'true'
IndentWidth: 4
AccessModifierOffset: -4
FixNamespaceComments: 'true'
AlignTrailingComments: 'true'
SpaceBeforeParens: Never
BreakConstructorInitializers: BeforeComma