[submodule "source/external_libs/imgui"]
	path = source/external_libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "source/external_libs/googletest"]
	path = source/external_libs/googletest
	url = https://github.com/google/googletest.git
[submodule "source/external_libs/physx"]
	path = source/external_libs/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "source/external_libs/VulkanMemoryAllocator"]
	path = source/external_libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
