---
ColumnLimit: 180
AlignEscapedNewlinesLeft: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlignTrailingComments: 'true'
AlwaysBreakTemplateDeclarations: 'true'
AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'false'
BreakConstructorInitializersBeforeComma: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
Cpp11BracedListStyle: 'false'
FixNamespaceComments: 'true'
IndentWidth: 4
IndentCaseLabels: 'true'
IndentWrappedFunctionNames: 'true'
IncludeBlocks: Regroup
Language: Cpp
UseTab: Always
TabWidth: 4
NamespaceIndentation: All
PenaltyBreakComment: '1'
PointerAlignment: Left
SpaceBeforeAssignmentOperators: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpaceBeforeParens: Never
SortIncludes: 'false'